# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.ImageEffectTest.iml
# Datasource local storage ignored files
/../../../../../../:\CatCood\ImageEffectTest\.idea\.idea.ImageEffectTest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
